<div id="login">
  <h1>Log in</h1>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <form id="login-form">
    <div>Username: <input type="text" name="username" required /></div>
    {{!-- <div>Password: <input type="password" name="password" required /></div> --}}
    <input type="submit" />
  </form>
</div>